.wrapper{
   position: absolute;
   top: 30vh;
   left: 25vw;
   width: 50vw;
   height: 50vh;
   background: none;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.item{
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #96b7e8;
   font-size: 20px;
   font-weight: 600;
}

.hide{
   display: none;
}